[submodule ".obsidian/plugins/obsidian-automatic-table-of-contents"]
	path = .obsidian/plugins/obsidian-automatic-table-of-contents
	url = git@github.com:johansatge/obsidian-automatic-table-of-contents.git
